@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

body {
  background: #1b1b1b;
  font-family: "Roboto", sans-serif;
}

.l-header {
  background: #000;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}

.l-header__container {
  max-width: 1160px;
  margin: 0 auto;
}
.l-logo__link {
  text-decoration: none;
}

.l-logo__text {
  color: #915dff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  line-height: 1.125;
  padding: 30px 0;
}

.l-main__container {
  max-width: 1160px;
  margin: 0 auto;
}

.l-title {
  color: #fff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin-bottom: 40px;
}
.l-item {
  margin-bottom: 20px;
  font-size: 24px;
}

.l-item::after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
  width: 70px;
  margin-top: 8px;
}

.l-item:hover::after {
  background: #915dff;
}

.l-item a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.l-item a:hover {
  color: #915dff;
}

.l-footer {
  color: #fff;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.l-footer__copyright {
  max-width: 1160px;
  margin: auto;
}

.l-footer__copyright p {
  font-size: 14px;
}

@media (max-width: 500px) {
  .l-header__container,
  .l-main__container {
    text-align: center;
  }

  .l-item a {
    text-decoration: underline;
  }

  .l-item::after {
    display: none;
  }
}
